{% load static %}
{% for p in products %}
<div class="col-lg-6 col-md-6 item-entry mb-4">
  <a href="{% url 'product_details' p.slug %}" class="product-item md-height bg-gray d-block">
    <img src="{{p.image.url}}" alt="Image" class="img-fluid">
  </a>

  <h2 class="item-title"><a href="{% url 'product_details' p.slug %}"> {{p.title}} </a></h2>
  <strong class="item-price"><del>${{p.old_price}}</del> ${{p.price}}</strong>
  <div class="star-rating">
    <span class="icon-star2 text-warning"></span>
    <span class="icon-star2 text-warning"></span>
    <span class="icon-star2 text-warning"></span>
    <span class="icon-star2 text-warning"></span>
    <span class="icon-star2 text-warning"></span>
  </div>
</div>

{% endfor %}
