{% extends "products/base.html" %}
{% load static %}

{% block title %} Shop {% endblock title %}


{% block content %}

  <div class="site-wrap">

    {% include "partials/_navbar.html" %}

    <div class="site-blocks-cover inner-page" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#New Summer Collection 2024</h2>
            <h1>Arrivals Sales</h1>
            <p><a href="{% url 'products' %}" class="btn btn-black rounded-0">Shop Now</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="{% static 'images/model_4.png' %}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="{% url 'index' %}">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
        </div>
      </div>
    </div>

    {% include "partials/_shop-section.html" %}
    {% include "partials/_section1.html" %}
    {% include "partials/_footer.html" %}

    
  </div>
{% endblock content %}